* {
    margin: 0;
    padding: 0;
}
header {
	margin-top: 10px;
    width: 100%;
	overflow: hidden;
	height: 150;
	position: relative;
}
header nav{
	background: #3498db;
	margin-bottom: 10px;
}

nav {
	top:-20px;
	position: absolute;
	left: 0;
	right: 0;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}
nav ul{
    list-style:none;
}
nav> ul{
   display:table;
    width:100%;
 position: relative;
    background:#000;
}
nav>ul li { 
display:table-cell;
}
/*sub-men  u*/
nav> ul>li:hover>ul{
	display: block;
	height:100%; 
}
nav>ul>li>ul{
	display: block;
	position: absolute;
	background: #000;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;}

nav>ul li a{
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;	
}
nav> ul>li>ul>li a:hover{
	background: #5da5a2;
}
nav>ul>li>a span{
	background:#174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;
}
nav>ul>li>a span .icon{
	display:block;
	line-height:60px; 
}
nav>ul>li>a:hover>span{
	top:0;	
}
/*Colores*/
nav ul li a .primeo{ background:#0e5061;}
nav ul li a .segundo{ background:#5da5a2;}
nav ul li a .tercero{ background:#f25724;}
nav ul li a .cuarto{ background:#174459;}
nav ul li a .quinto{   background:#37a4d9;}
nav ul li a {
    font-family:bodoni mt;font-size: 20px
}
*{ margin:0;
padding: 0;
}
body{
	background:#f2f2f2;	
}
.main{
	width:60%;
	max-width:1000px; 
	margin: 20px auto;
}
.slides {
	width:70%;
}
.slides,img{
    width: 600px
}
.slidesjs-pagination{
	background: #424242;
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.slidesjs-pagination li a:hover{
	background: #000;
}
.slides.active{
	background: #000;
}
.slidesjs-navigation{
	background: #000;
	color: #fff;
	text-decoration:none;
	display: inline-block;
	padding: 13.5px 20px;
	float: right;	
}
.contenedor{
	width: 75%;
	max-width: 900px;
	margin: auto;
}
.contenedor p {
	margin-bottom:40px;
}
.menu-fixed{
	position: fixed;
	z-index:1000;
	top:10px;
	width: 100%;
	max-width: 1000px;
	
}
html,body{
	background: url(IMG/inicio.jpg);
    background-size: 100%;
}
h2{
	font-family:bodoni mt;font-size: 50px;
}

.parrafo{
	color:black;font-family:bodoni mt ;font-weight: bold;font-size: 180%;
}
/* ESTE ES EL TIPO DE LETRA Y CON COLOR NEGRO, TAMAÑO A ELEGIR, FONDO IMAGEN DE ITSO*/

.pagina img{width: 30%;border-radius: 50%;text-align:center;	
}
.pagina{
    text-align: center;
}
